.sectionCards {
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    grid-gap: .6rem;
}

.card {
    background: var(--card);
    padding: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 1px #cccece;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.card:hover {
    box-shadow: 0 1px 4px #000000;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.trash {
    width: 1.4rem;
    max-height: 25px;
    position: absolute;
    margin-left: 3rem;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.card:hover .trash{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.card img {
    height: 6rem;
}