.sectionCards {
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    grid-gap: .6rem;
}

.card {
    height: 12rem;
    background: var(--card);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 1px #cccece;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.card:hover {
    box-shadow: 0 1px 4px #000000;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.card img {
    height: 6rem;
}