:root {
    --background: #eeeeee;
    --background-overlay: #eeecec;
    --header-color: #15a0fd;
    --gradient-footer: linear-gradient(0deg, #5e35f0 10%, #15a0fd 100%);
    --button: #3d7bff;
    --card: #fff;
    --font: #31323d;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--font);
    font-size: 1.05rem;
}

*::-webkit-scrollbar {
    width: .8rem;
}

*::-webkit-scrollbar-thumb {
    width: .1rem;
    background-color: #cecdcd;
    box-shadow: inset 0 0 8px #535353;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #414141;
    background-color: var(--background);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

body {
    background: var(--background);
    width: 100%;
    height: 100vh;
}


/* main */

main {
    width: 100%;
    max-width: 90vw;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}

main>section {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addContainer,
.removeMensage {
    background: var(--button);
    padding: 1rem 2rem;
    box-shadow: #2a59c0 1px 6px 0px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

a {
    text-decoration: none;
}

.addButton,
.removeButton {
    background: var(--button);
    padding: 0.6rem .7rem;
    margin-left: .2rem;
    box-shadow: #2a59c0 1px 6px 0px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.addButton:hover,
.addButton:focus,
.removeButton:hover,
.removeButton:focus {
    box-shadow: none;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

a>img {
    height: 30px;
}


/* Responsiveness */

@media (max-width: 375px) {
    .sectionCards {
        grid-template-columns: repeat(1, 10rem);
    }
}

@media (min-width: 700px) {
    .bar {
        max-width: 25vw;
        border: .2rem solid #eeeeee;
    }

    .sectionCards {
        grid-template-columns: repeat(3, 10rem);
        grid-gap: .8rem .6rem;
    }

    .calculation {
        flex-wrap: wrap;
    }

    form {
        max-width: 70vw;
    }

    .calculation {
        flex-wrap: wrap-reverse;
    }

    .errorMenssage>div,
    .errorMenssage.on>div {
        width: 40vw;
        font-size: larger;
    }

    footer>div {
        padding: 1.3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .countingProducts,
    .total {
        max-width: 100vw;
        margin: 0 2rem;
    }
}

@media screen and (min-width: 800px) {
    .bar {
        max-width: 20vw;
        border: .4rem solid #eeeeee;
    }
}