:root {
    --background: #eeeeee;
    --background-overlay: #eeecec;
    --header-color: #15a0fd;
    --card: #fff;
    --font: #31323d;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--font);
    font-size: 1.05rem;
}

*::-webkit-scrollbar {
    width: .6rem;
}

*::-webkit-scrollbar-thumb {
    width: .1rem;
    background-color: #cecdcd;
    box-shadow: inset 0 0 8px #535353;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #414141;
    background-color: var(--background);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

body {
    background: var(--background);
    width: 100%;
    height: 100vh;
}


/* main */

main {
    width: 100%;
    max-width: 90vw;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}

main>section {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a>img {
    height: 30px;
}


/* Responsiveness */

@media (max-width: 375px) {
    .sectionCards {
        grid-template-columns: repeat(1, 10rem);
    }
    #cart {
        padding: 0;
        grid-template-columns: repeat(1, 10rem);
    }
}

@media (min-width: 700px) {
    .bar {
        max-width: 25vw;
        border: .2rem solid #eeeeee;
    }
    .sectionCards {
        grid-template-columns: repeat(4, 10rem);
        grid-gap: .8rem .6rem;
    }
    #cart {
        grid-template-columns: repeat(2, 10rem);
        grid-gap: .8rem 0;
    }
    .content {
        height: 80vh;
        max-width: 70vw;
    }
    .calculation {
        flex-wrap: wrap;
    }
    form {
        max-width: 45vw;
    }
    .calculation {
        flex-wrap: wrap-reverse;
    }
    .errorMenssage>div,
    .errorMenssage.on>div {
        width: 40vw;
        font-size: larger;
    }
    footer>div {
        padding: 1.3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 800px) {
    .bar {
        max-width: 20vw;
        border: .4rem solid #eeeeee;
    }
    form {
        max-width: 35vw;
    }
    #cart {
        grid-template-columns: repeat(4, 10rem);
        grid-gap: 1.8rem 0rem;
    }
    #cart .card {
        width: 9.5rem;
    }
    #cart .card>img {
        height: 50%;
    }
}