.section-cards {
    width: 100%;
    margin: 1rem auto 6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 10rem);
    grid-gap: 0.6rem;
}

.card {
    height: 12rem;
    background: var(--background-one);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 1px var(--shadow);
    transition: 0.5s;
    animation: 1s ease-in-out backwards showCards;
    animation-delay: var(--x);
    & img {
        height: 6rem;
    }
    &:hover {
        box-shadow: 0 1px 4px #000000;
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
}

@keyframes showCards {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
