.overlay-side-bar {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: var(--overlay-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
        & .overlay-side-bar__bar {
            opacity: 1;
            visibility: visible;
            animation: showSideBar 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) .1s forwards;
            -webkit-animation: showSideBar 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) .1s forwards;
            transform: translateX(-15rem);
            -webkit-transform: translateX(-15rem);
            -moz-transform: translateX(-15rem);
            -ms-transform: translateX(-15rem);
            -o-transform: translateX(-15rem);
        }
    }
    &__bar {
        height: 100%;
        width: 50vw;
        padding: 10px;
        background-color: var(--background-one);
        border: .4rem solid var(--border-gray);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        opacity: 0;
        visibility: hidden;
        .social-media {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 3.5rem;
            div {
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__linkedin svg {
                fill: #358cf0;
            }
            svg:hover {
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
            }
            p {
                font-size: 1.5rem;
                margin-left: .6rem;
                box-shadow: 0 2px 0 var(--background-two);
                position: relative;
                &:hover::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background-image: $blue-gradient;
                    transform: translate(-4.75rem, 2.17rem);
                    -webkit-transform: translate(-4.75rem, 2.17rem);
                    -moz-transform: translate(-4.75rem, 2.17rem);
                    -ms-transform: translate(-4.75rem, 2.17rem);
                    -o-transform: translate(-4.75rem, 2.17rem);
                    animation: 1s forwards ease lineP;
                    -webkit-animation: 1s forwards ease lineP;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
            }
            &__linkedin p:hover::after {
                transform: translate(-6rem, 2.17rem);
                -webkit-transform: translate(-6rem, 2.17rem);
                -moz-transform: translate(-6rem, 2.17rem);
                -ms-transform: translate(-6rem, 2.17rem);
                -o-transform: translate(-6rem, 2.17rem);
            }
        }
    }
    svg {
        height: 30px;
        position: relative;
        transition: .6s;
        -webkit-transition: .6s;
        -moz-transition: .6s;
        -ms-transition: .6s;
        -o-transition: .6s;
        border-radius: 30%;
        -webkit-border-radius: 30%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        -o-border-radius: 30%;
    }
}

@keyframes lineP {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes showSideBar {
    0% {
        transform: translateX(-15rem);
        -webkit-transform: translateX(-15rem);
        -moz-transform: translateX(-15rem);
        -ms-transform: translateX(-15rem);
        -o-transform: translateX(-15rem);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}